.Home {
  &__hero {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 150px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
    height: 100vh;
    @include mq(600px, max) {
      height: 80vh;
    }
    padding: 0;
    max-width: none;
    margin: 0;
    position: relative;
    perspective: 8px;
    perspective-origin: 0%;
    .typography__body {
      line-height: 1.5;
      margin: 30px auto;
      max-width: 700px;
      color: $white;
      @include mq(600px, max) {
        padding: 0 50px;
      }
    }
    .typography__headline {
      color: $white;
      @include mq(600px, max) {
        font-size: 2.5em;
        text-align: center;
      }
    }
    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;
      @include mq(600px, max) {
        object-position: top 0 right -150px;
      }
      position: absolute;
      z-index: 2000;
      transform-origin: center;
      h1,
      p {
        text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 20px;
      }
      &.layer_0 {
        z-index: -1;
      }
      &.layer_1 {
        transform: translateZ(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -170px;
        @include mq(600px, max) {
          margin-top: -33vw;
        }
      }
      &.layer_2 {
        animation: zoomOut2 1.5s forwards;
        opacity: 0;
        animation-delay: 0.5s;
      }
      &.layer_3 {
        transform: translateZ(150px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
      &.layer_4 {
        animation: zoomOut4 1.5s forwards;
        animation-delay: 0.5s;
        opacity: 0;
        pointer-events: none;
      }
      &.layer_5 {
        animation: zoomOut5Desktop 1.5s forwards;
        @include mq(600px, max) {
          animation: zoomOut5Mobile 1.5s forwards;
        }
        animation-delay: 0.5s;
        opacity: 0;
        pointer-events: none;
      }
      @keyframes zoomOut5Desktop {
        from {
          transform: translate3d(-50px, 0, 800px);
        }
        to {
          transform: translate3d(-50px, 0, 250px);
          opacity: 1;
        }
      }
      @keyframes zoomOut5Mobile {
        from {
          transform: translate3d(-20px, 0, 800px);
        }
        to {
          transform: translate3d(-20px, 0, 250px);
          opacity: 1;
        }
      }
      @keyframes zoomOut4 {
        from {
          transform: translateZ(400px);
        }
        to {
          transform: translateZ(200px);
          opacity: 1;
        }
      }
      @keyframes zoomOut2 {
        from {
          transform: translateZ(200px);
        }
        to {
          transform: translateZ(100px);
          opacity: 1;
        }
      }
    }
    .parallax-container {
      position: absolute;
      overflow: hidden;
      height: 100%;
      width: 100%;
      perspective: 1200px;
      transform-style: preserve-3d;
      z-index: 2000;
    }
    .parallax-base {
      transform-style: preserve-3d;
      height: 100%;
      width: 100%;
    }
    &__top {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      // background-color: rgba(0,0,0,0.2);
      z-index: 1000;
      @include mq(600px, min) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
    legend {
      position: absolute;
      left: 30px;
      bottom: 30px;
      color: $white;
      z-index: 3000;
    }
  }
  &__work {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(600px, max) {
      padding: 50px 0;
    }
    .Button {
      margin-top: 25px;
    }
  }
  &__instagram {
    padding: 50px 0 0 0;
    max-width: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 50px;
      img {
        width: 50vw;
        height: 50vw;
        @include mq(600px, min) {
          width: 12.5vw;
          height: 12.5vw;
        }
        object-fit: cover;
        // margin: 10px;
      }
    }
    hr {
      width: 100%;
      max-width: 1000px;
    }
    .Button {
      display: inline-block;
    }
  }
  &__about {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      object-fit: cover;
      margin-bottom: 30px;
      height: 200px;
      width: 200px;
      border-radius: 100px;
    }
    hr {
      width: 100%;
      max-width: 500px;
    }
    .typography__body {
      margin: 0 auto 30px auto;
      width: 100%;
      max-width: 500px;
    }
  }
  &__work,
  &__instagram,
  &__about {
    .typography__headline {
      align-self: center;
      background-color: #fff;
      z-index: 1;
      padding: 0 20px;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  &-top {
    @include mq(600px, min) {
      display: none;
    }
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1000;
    .Button {
      width: 60%;
    }
  }
}
.MagicButton {
  color: $white;
  font-size: 2em;
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 10000;
}
