.Button {
  background-color: $main;
  display: inline-block;
  // width: 100%;
  appearance: none;
  border: none;
  border-radius: 50px;
  font-size: 1.4em;
  color: $white;
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  padding: 0 2em;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  svg {
    margin-right: 10px;
    width: 25px;
    height: auto;
    vertical-align: -7px;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
  @include mq(600px, max) {
    height: 40px;
  }
}
