.Contact {
  display: flex;
  flex-direction: column;
  // background-color: #eee;
  max-width: calc(100vw - 40px);
  margin: 0 20px;
  padding: 100px 50px;
  text-align: center;
  background: linear-gradient(to bottom, $light, $white);
  @include mq(600px, max) {
    padding: 50px 10px;
  }
  .typography__headline {
    align-self: center;
    padding: 0 20px;
  }
  .typography__body {
    margin: 10px;
  }
  .Button {
    display: inline-block;
    margin: 10px;
  }
}
