.Contact {
  display: flex;
  flex-direction: column;
  // background-color: #eee;
  max-width: none;
  padding: 200px 50px;
  text-align: center;
  @include mq(576px, max) {
    padding: 100px 0;
  }
  .typography__headline {
    align-self: center;
    background-color: $white;
    z-index: 1;
    padding: 0 20px;
  }
  .typography__body {
    margin: 10px;
  }
  .Button {
    display: inline-block;
    margin: 10px;
  }
}
