.Footer {
  text-align: center;
  padding: 40px;
  background-color: $main;
  color: $white;
  &__title {
    text-decoration: none;
    img {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
    }
  }
  &__links {
    margin: 20px 0;
    a {
      font-size: 3em;
      margin: 0 20px;
    }
  }
  .typography__body {
    color: $white;
  }
}
