.Logo {
  &__full {
    img {
      height: 80px;
    }
    @include mq(600px, min) {
      font-size: 2em;
    }
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    color: $main;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    span {
      margin-left: 1em;
    }
  }
}