* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
}
img {
  display: block;
}
html {
  font-size: 10px;
}
body {
  background-color: $white;
  color: $main;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3em;
}
