* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing : antialiased;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1;
}
img {
  display: block;
}
html {
  font-size: 10px;
}
body {
  background-color: $white;
  color: $main;
}
header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 1em;
  display: flex;
  justify-content: center;
  img {
    height: 80px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3em;
}
