@import './utils/colors';
@import './utils/mixins';
@import './utils/normalize';
@import './utils/typography';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import './components/layout';
@import './components/footer';
@import './components/masonry';
@import './components/button';
@import './components/card';
@import './components/menu';
@import './components/shop-card';
@import './components/logo';

@import './pages/Home';
@import './pages/Work';
@import './pages/About';

#blackout {
  background-color: #000;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity .3s ease;
  z-index: -1;
}